:root {
  --bg-main: black;
  --fg-main: white;
  --border-main: hsl(0, 0%, 50%);
  --bg-tag: green;
  --bg-tag-exclude: hsl(0, 100%, 30%);
  --fg-tag: white;
  --item-bg: hsl(214 91% 57%);
  --item-fg: black;
  --fg-dim: hsl(0, 0%, 50%);
  --edit-color: hsl(0, 0%, 50%);
  --fg-ext-link-color: hsl(187, 87%, 49%);
  --bg-deleted: hsl(0 0% 50% / 0.9);
  --fg-owned-icon: hsl(240, 100%, 70%);
  --fg-error-color: hsl(0 100% 50%);
  --bg-private-group-button: hsl(0, 100%, 50%);
  --bg-public-group-button: hsl(120, 100%, 50%);
  --fg-private-group-button: white;
  --fg-public-group-button: black;
  --bdr-group-public-nonmember: hsl(0, 0%, 50%);
  --bdr-group-private-nonmember: hsl(0, 100%, 50%);
  --bdr-group-public-member: hsl(120, 100%, 25%);
  --bdr-group-private-member: hsl(22, 100%, 50%);
  --fg-active-page: blue;
  --fg-add-button: hsl(120, 100%, 50%);
  --fg-del-button: hsl(0, 100%, 50%);
  --fg-undel-button: hsl(120, 100%, 50%);
  --fg-cancel-button: hsl(120, 100%, 50%);
  --fg-clear-button: hsl(0, 0%, 0%);
  --fg-disabled-button: var(--fg-dim);
  --bdr-header-seperator: var(--fg-dim);
  --fg-vote-accept: hsl(120, 100%, 59%);
  --fg-vote-veto:  hsl(0, 100%, 50%);
  --fg-vote-desire: hsl(60, 100%, 50%);
  --fg-vote-dislike:  hsl(0 50% 40%);
  --fg-group-vote-veto:  hsl(0, 0%, 50%);
  --bdr-group-vote-desire: gold;
  --fg-updated-mark: hsl(120 100% 50%);
  --fg-updating-mark: hsl(0 100% 50%);
  --fg-progress-icon: hsl(300, 100%, 50%);
}

body {
  background: var(--bg-main);
  color: var(--fg-main);
}

a {
  color: inherit;
}

a.active {
  color: var(--fg-active-page);
}

.progress_icon {
  color: var(--fg-progress-icon);
  margin-inline: 2px;
}

div.editvote {
  display: flex;
  flex-direction: row-reverse;
  color: var(--edit-color);
  padding: 1px;
}

.DisplayGame .editvote {
  display: inline-flex;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
} 

@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
} 

.results {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.search_result.disabled {
  font-style: italic;
  background: hsl(240, 30%, 30%);
}

.search_result {
  display: inline;
  background: blue;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 10px;
}

.UpdateMark {
  display: inline;
  margin: 0.25rem;
}

.UpdateMark.None {
  /* display: none; */
  opacity: 0;
}

.UpdateMark.Updated {
  color: var(--fg-updated-mark);
}

.UpdateMark.Updating {
  color: var(--fg-updating-mark);
}

.fadeOut {
  animation-fill-mode: both;
  animation-duration: 5s;
  animation-name: fadeOut;
}

.pulse {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.smallnumber {
  width: 4rem;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Exclude .tag,
.tag.Exclude {
  --bg-tag: var(--bg-tag-exclude);
}

.tag {
  position: relative;
  display: inline-block;
  border: 0px;
  background: var(--bg-tag);
  border-radius: 10px;
  color: var(--fg-tag);
  margin: 4px;
  padding: 3px;
}

.game_search {
  margin: 0.25rem;
}

.tag button.deltag {
  border: 1px solid black;
  background: transparent;
  position: relative;
  top: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.deleted {
  position: relative;
}

.deleted > .cover {
  display: flex;
  position: absolute;
  background: var(--bg-deleted);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.cover span {
  --shadow-width: 5px;
  text-shadow: 0 0 var(--shadow-width) black, 0 0 var(--shadow-width) black,
    0 0 var(--shadow-width) black, 0 0 var(--shadow-width) black;
}

.PlayMode .name_icons {
  display: inline-flex;
  flex-direction: row;
}

.PlayMode .icons {
  display: inline-flex;
  flex-direction: row;
}

.PlayMode > .cover,
.cover {
  display: none;
  z-index: 1;
}

.cloud {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.saving .trace {
  display: none;
}

.saving {
  font-size: 10rem;
}

.playercount input {
  width: 6em;
}

.voteicon + select {
  margin-left: 2px;
}

.voteicon,
.ownedicon {
  margin-left: 4px;
  margin-right: 4px;
}

.ownedicon {
  color: var(--fg-owned-icon);
}

.linkurl {
  width: 30em;
}

.linkcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px dashed var(--fg-main);
  margin: 4px;
  justify-content: center;
  /* Vertical centering (mainly for "+" button) */
}

.PlayMode.Edit {
  position: relative;
  margin: 4px;
}

.linkcontainer .DelButton,
.PlayMode.Edit .DelButton,
.linkcontainer .UnDelButton,
.deleted .cover .UnDelButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.deleted .cover .with_bg .UnDelButton {
  position: relative;
  top: 0;
  left: 0;
}

.with_bg {
  background: black;
  padding: 0.25rem;
  border-radius: 10px;
}

.buyprice {
  width: 6em;
}

.cloud .item {
  display: inline-block;
  background: var(--item-bg);
  color: var(--item-fg);
  border-radius: 10px;
  padding: 0.25rem;
  margin: 0.25rem;
}

label::after {
  content: ":";
}

.error {
  color: var(--fg-error-color);
}

nav ul {
  list-style-type: none;
  margin-inline: 0;
  padding-inline: 0;
}

nav li {
  display: inline;
  background: var(--item-bg);
  padding: 0.5rem;
  margin: 1px;
  border-radius: 10px;
}

nav li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.VoteEdit,
.OwnedEdit {
  border-width: 1px;
  border-style: dotted;
  border-color: var(--fg-dim);
}

.regtoken_link {
  color: greenyellow;
}

.PlayMode {
  border: 1px dashed var(--fg-main);
}

.PlayMode .description {
  display: block;
}

.PlayMode.PlayModeVotes .description {
  display: none;
}

.editicon {
  color: var(--edit-color);
}

/* .voteicon::before,
.ownedicon::before {
  content: "[";
  color: var(--fg-dim);
}

.voteicon::after,
.ownedicon::after {
  content: "]";
  color: var(--fg-dim);
} */

.memberships,
.memberslist,
.gameslist {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.memberships > .group.private .button {
  background: var(--bg-private-group-button);
  color: var(--fg-private-group-button);
}

.memberships > .group.public .button {
  background: var(--bg-public-group-button);
  color: var(--fg-public-group-button);
}

.ViewGroup .edit_icon {
  font-size: 1rem;
  vertical-align: top;
  color: var(--edit-color);
}

.memberships > .group .button {
  padding-top: 0.2rem;
  padding-inline: 0.1rem;
}

.memberslist > .member,
.gameslist > .GroupGame {
  border: 1px solid var(--border-main);
  margin: 1px;
}

.ListGroups {
  display: flex;
  flex-direction: column;
}

.ListGroups .GroupItem {
  border: 1px solid var(--bdr-group-public-nonmember);
  margin: 1px;
}

.ListGroups .GroupItem.private {
  border-color: var(--bdr-group-private-nonmember);
}

.ListGroups .GroupItem.member {
  border-color: var(--bdr-group-public-member);
}

.ListGroups .GroupItem.private.member {
  border-color: var(--bdr-group-private-member);
}

.AddGroup,
.EditGroup {
  display: flex;
  justify-content: left;
}

button.logout {
  border: none;
  background: transparent;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

nav li.gap {
  width: 2rem;
  background: var(--bg-main);
}

.RegTokens {
  display: flex;
  justify-content: left;
}

.ListGames .game_list,
.ListGroups .group_list {
  display: flex;
  justify-content: left;
}

.game .prop {
  text-align: left;
  /* border: 1px solid red; */
}

.links {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.addform {
  display: flex;
  border: 1px dashed var(--fg-main);
  margin: 2px;
  justify-content: center;
  align-content: center;
}

.link a {
  color: var(--fg-ext-link-color);
}

.link {
  display: inline-block;
  margin: 3px;
  padding-right: 0.5rem;
  position: relative;
  /* border: 1px solid red; */
}

/* Changed to be an fa icon instead...
 .extlink::after {
    position: absolute;
    content: '➚';
    border: 1px solid var(--fg-main);
    font-size: 0.5rem;
    top: 0px;
} */

button.addAlias,
.AddButton {
  background: transparent;
  border: none;
  color: var(--fg-add-button);
  cursor: pointer;
}

button.DelButton,button.RemoveButton {
  background: transparent;
  border: none;
  color: var(--fg-del-button);
  cursor: pointer;
}

button.UnDelButton {
  background: transparent;
  border: none;
  color: var(--fg-undel-button);
  cursor: pointer;
}

button.CancelButton {
  background: transparent;
  border: none;
  color: var(--fg-cancel-button);
  cursor: pointer;
}

button.ClearButton {
  background: transparent;
  border: none;
  color: var(--fg-clear-button);
  cursor: pointer;
}

.LabelInput input {
  padding-right: 25px;
}

.LabelInput input + .ClearButton {
  margin-left: -25px;
}

button[disabled] {
  color: var(--fg-disabled-button);
}

.game .alias {
  /* border: 1px solid var(--fg-main); */
  text-align: left;
}

.game .alias::before {
  content: "aka ";
}

.RegTokens .token {
  border: 1px solid var(--fg-main);
  height: 100%;
  padding: 2px;
  margin: 3px;
}

.RegTokens .token .name {
  text-decoration: underline;
}

nav li.last {
  margin-left: 2rem;
}

.button {
  min-width: 5rem;
  min-height: 1.5rem;
  border: 1px solid var(--border-main);
  border-radius: 5px;
  margin: 1px;
}

pre {
  text-align: left;
}

.debug {
  border: 1px dotted var(--border-main);
  margin: 5px;
  position: relative;
}

.debug::before {
  content: "Debug:";
  position: relative;
  top: -0.5rem;
  left: 0.5rem;
  background: var(--bg-main);
  border: 1px dotted var(--border-main);
}

.GroupGame .header .name {
  display: inline-block;
}

.GroupGame > .header {
  border-bottom: 1px dashed;
  border-bottom-color: var(--bdr-header-seperator);
}

.GroupGame .header {
  display: flex;
  justify-content: left;
}

.playmodes .PlayMode {
  display: flex;
  justify-content: left;
}

.PlayMode > div {
  display: inline-block;
}

.icons.user::before {
  content: "[";
}

.icons.user::after {
  content: "]";
}

.voteicon.vote_Accept {
  color: var(--fg-vote-accept);
}

.voteicon.vote_Veto {
  color:var(--fg-vote-veto);
}

.voteicon.vote_Desire {
  color: var(--fg-vote-desire);
}

.voteicon.vote_Dislike {
  color:var(--fg-vote-dislike);
}

.GroupGame.vote_Veto {
  color:var(--fg-group-vote-veto);
  font-style: italic;
}

.GroupGame.vote_Desire {
  border-color: var(--bdr-group-vote-desire);
}
