:root {
    --bg-main: black;
    --fg-main: white;
    --border-main: hsl(0, 0%, 50%);
}

body {
    background: var(--bg-main);
    color: var(--fg-main);
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

label::after {
    content: ':'
}

.error {
    color: hsl(0 100% 50%);
}

nav ul {
    list-style-type: none;
    margin-inline: 0;
    padding-inline: 0;
}

nav li {
    display: inline;
    background: hsl(214 91% 57%);
    padding: 0.5rem;
    margin: 1px;
    border-radius: 10px;
}

nav li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.memberships,.memberslist,.gameslist {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.memberships>.group.private .button {
    background: hsl(0, 100%, 50%);
}

.memberships>.group.public .button {
    background: hsl(120, 100%, 50%);
}

.memberslist>.member,.gameslist>.GroupGame{
    border: 1px solid var(--border-main);
    margin: 1px;
}

.button {
    min-width: 5rem;
    min-height: 1.5rem;
    border: 1px solid var(--border-main);
    border-radius: 5px;
    margin: 1px;
}

pre {
    text-align: left;
}

.debug {
    border: 1px dotted var(--border-main);
    margin: 5px;
    position: relative;
}

.debug::before {
    content: 'Debug:';
    position: relative;
    top: -0.5rem;
    left: 0.5rem;
    background: var(--bg-main);
    border: 1px dotted var(--border-main);
}

.GroupGame .header .name {
    display: inline-block
}

.voteicon.vote_Accept {
    color: hsl(120, 100%, 59%)
}

.voteicon.vote_Veto {
    color:hsl(0, 100%, 50%)
}

.voteicon.vote_Desire {
    color:hsl(60, 100%, 50%)
}

.GroupGame.vote_Accept {
}

.GroupGame.vote_Veto {
    color:hsl(0, 0%, 50%);
    font-style: italic;
}

.GroupGame.vote_Desire {
    border-color: gold;
}